{% set nav= {
    'bpi_admin_node': 'Nodes',
    'bpi_admin_node_deleted': 'Show deleted',
} %}
{% set route = app.request.attributes.get('_route') %}
<ul class="nav nav-tabs">
    {% for url, title in nav %}
        <li{% if url == route %} class="active"{% endif %}><a href="{{ url(url) }}">{{title}}</a></li>
    {% endfor %}
</ul>
