/vendor/*
/var/logs/*
/var/cache/*
/var/sessions/*
/var/bootstrap.php.cache
/web/uploads/*
/web/bundles/*
/app/config/parameters.yml
!var/SymfonyRequirements.php
# IDE
/nbproject
/.settings
/.buildpath
/.project
/.idea
