# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
# Configuration files
app/config/parameters.ini

# IDE
nbproject/*
/.settings
/.buildpath
/.project
/.idea

#SDK
src/Bpi/Sdk/vendor/*

# Temp files
*~
/composer.phar
