parameters:
    secret: ~
    locale: en
    mongodb_server: mongodb://mongo:27017
    mongodb_db: bpi
    mongodb_user: ~
    mongodb_pass: ~
    swiftmailer: ~

    mailer_transport: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
