{% extends "BpiAdminBundle::layout.html.twig" %}

{% block content %}
{% include 'BpiAdminBundle:Category:nav.html.twig' %}

<form action="{{ path(app.request.attributes.get('_route'), {'id': id}) }}" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    <div class="form-actions">
        <input type="submit" class="btn" value="Save" />
    </div>
</form>
{% endblock %}
