{% extends "BpiAdminBundle::layout.html.twig" %}

{% block content %}
{% include 'BpiAdminBundle:Category:nav.html.twig' %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th{% if pagination.isSorted('category') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Name', 'category', {'defaultDirection' : 'asc'}) }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for item in pagination %}
        <tr>
            <td>{{ item.category }}</td>
            <td>
                <a href="{{ url('bpi_admin_category_edit',{'id':item.id}) }}">Edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
